.app {
  text-align: center;
}
.app__form {
  padding: 20px;
}
.app__loading {
  text-align: center;
}
.app__boxMessage {
  width: 100%;
  height: 450px;
  overflow-y: scroll;
}
.app__boxForm {
  width: 100%;
  background-color: #e9e9eb;
}
.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}
.app__input {
  flex: 1;
}
.app__iconButton {
  flex: 0 !important;
}
